/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/02/2019 12:14
  	*/

@font-face {
  font-family: 'Flaticon';
  src: url(/_next/static/fonts/Flaticon-27a2580c09922a0beea7196d54e1fe0e.eot);
  src: url(/_next/static/fonts/Flaticon-27a2580c09922a0beea7196d54e1fe0e.eot?#iefix) format('embedded-opentype'),
    url(/_next/static/fonts/Flaticon-bd6d1d55050dbd3a98a61eaf6e908559.woff2) format('woff2'),
    url(/_next/static/fonts/Flaticon-2370efcdc4fa02a123a3ca8702214b08.woff) format('woff'),
    url(/_next/static/fonts/Flaticon-41b47e36c8243f12f6abf7497126ae40.ttf) format('truetype'),
    url(/next/_next/static/images/Flaticon-4effdf973045e42c1f519a82b879141f.svg#Flaticon) format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url(/next/_next/static/images/Flaticon-4effdf973045e42c1f519a82b879141f.svg#Flaticon) format('svg');
  }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-flask:before {
  content: '\F100';
}
.flaticon-pencil-case:before {
  content: '\F101';
}
.flaticon-ruler:before {
  content: '\F102';
}
.flaticon-startup:before {
  content: '\F103';
}
.flaticon-creative:before {
  content: '\F104';
}
.flaticon-briefing:before {
  content: '\F105';
}
.flaticon-magnifying-glass:before {
  content: '\F106';
}
.flaticon-user:before {
  content: '\F107';
}
.flaticon-quotes:before {
  content: '\F108';
}
.flaticon-next:before {
  content: '\F109';
}
.flaticon-left-arrow:before {
  content: '\F10A';
}
.flaticon-plus-symbol:before {
  content: '\F10B';
}
.flaticon-minus-symbol:before {
  content: '\F10C';
}
.flaticon-trophy:before {
  content: '\F10D';
}
.flaticon-conversation:before {
  content: '\F10E';
}
.flaticon-atom:before {
  content: '\F10F';
}
.flaticon-link:before {
  content: '\F110';
}
.flaticon-battery:before {
  content: '\F111';
}
.flaticon-stopwatch:before {
  content: '\F112';
}
.flaticon-stopwatch-1:before {
  content: '\F113';
}
.flaticon-objective:before {
  content: '\F114';
}
.flaticon-facebook-logo:before {
  content: '\F115';
}
.flaticon-twitter-logo-silhouette:before {
  content: '\F116';
}
.flaticon-instagram:before {
  content: '\F117';
}
.flaticon-dribble-logo:before {
  content: '\F118';
}
.flaticon-tumblr-logo:before {
  content: '\F119';
}
.flaticon-youtube:before {
  content: '\F11A';
}
.flaticon-google-plus:before {
  content: '\F11B';
}
.flaticon-blockchain:before {
  content: '\F11C';
}
.flaticon-money-bag:before {
  content: '\F11D';
}
.flaticon-wallet:before {
  content: '\F11E';
}
.flaticon-security:before {
  content: '\F11F';
}
.flaticon-bitcoin:before {
  content: '\F120';
}
.flaticon-blockchain-1:before {
  content: '\F121';
}
.flaticon-annonymous:before {
  content: '\F122';
}
.flaticon-group:before {
  content: '\F123';
}
.flaticon-prototype:before {
  content: '\F124';
}
.flaticon-code:before {
  content: '\F125';
}
.flaticon-vectors:before {
  content: '\F126';
}
.flaticon-export:before {
  content: '\F127';
}
.flaticon-hourglass:before {
  content: '\F128';
}
.flaticon-trophy-1:before {
  content: '\F129';
}
.flaticon-upload:before {
  content: '\F12A';
}
.flaticon-settings:before {
  content: '\F12B';
}
.flaticon-strategy:before {
  content: '\F12C';
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.drawer > * {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shaow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer .drawer-mask {
  background: #000;
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), width 0s ease 0.3s, height 0s ease 0.3s;
}
.drawer-content-wrapper {
  position: fixed;
  background: #fff;
}
.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative;
}
.drawer-handle {
  position: absolute;
  top: 72px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
}
.drawer-handle-icon {
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before,
.drawer-handle-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before {
  top: -5px;
}
.drawer-handle-icon:after {
  top: 5px;
}
.drawer-left,
.drawer-right {
  width: 0%;
  height: 100%;
}
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content-wrapper,
.drawer-left .drawer-content,
.drawer-right .drawer-content {
  height: 100%;
}
.drawer-left.drawer-open,
.drawer-right.drawer-open {
  width: 100%;
}
.drawer-left .drawer-handle {
  right: -40px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 4px 4px 0;
}
.drawer-left.drawer-open .drawer-content-wrapper {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-right .drawer-content-wrapper {
  right: 0;
}
.drawer-right .drawer-handle {
  left: -40px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 0 0 4px;
}
.drawer-right.drawer-open .drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-top,
.drawer-bottom {
  width: 100%;
  height: 0%;
}
.drawer-top .drawer-content-wrapper,
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content,
.drawer-bottom .drawer-content {
  width: 100%;
}
.drawer-top .drawer-handle,
.drawer-bottom .drawer-handle {
  left: 50%;
  margin-left: -20px;
}
.drawer-top.drawer-open,
.drawer-bottom.drawer-open {
  height: 100%;
}
.drawer-top .drawer-handle {
  top: auto;
  bottom: -40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
}
.drawer-top.drawer-open .drawer-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.drawer-bottom .drawer-content-wrapper {
  bottom: 0;
}
.drawer-bottom .drawer-handle {
  top: -40px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
}
.drawer-bottom.drawer-open .drawer-content-wrapper {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}
.drawer.drawer-open .drawer-mask {
  opacity: .3;
  width: 100%;
  height: 100%;
  animation: rcDrawerFadeIn 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: none;
}
.drawer.drawer-open .drawer-handle-icon {
  background: transparent;
}
.drawer.drawer-open .drawer-handle-icon:before {
  transform: translateY(5px) rotate(45deg);
}
.drawer.drawer-open .drawer-handle-icon:after {
  transform: translateY(-5px) rotate(-45deg);
}
@keyframes rcDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}

