.reuseModalOverlay {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  position: fixed;
}

.reuseModalHolder {
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 1px #ddd;
  background: #f0f0f0;
  position: fixed !important;
  z-index: 99999;
  padding: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.innerRndComponent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: content-box;
}

.reuseModalCloseBtn {
  position: fixed;
  top: 10px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  z-index: 9999999;
}

#flaticonExample ol,
#flaticonExample ul {
  list-style: none;
}

#flaticonExample blockquote,
#flaticonExample q {
  quotes: none;
}

#flaticonExample blockquote:before,
#flaticonExample blockquote:after,
#flaticonExample q:before,
#flaticonExample q:after {
  content: '';
  content: none;
}

#flaticonExample table {
  border-collapse: collapse;
  border-spacing: 0;
}

#flaticonExample {
  font-family: 'Varela Round', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #222;
}

#flaticonExample a {
  color: #333;
  border-bottom: 1px solid #a9fd00;
  font-weight: bold;
  text-decoration: none;
}

#flaticonExample * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#flaticonExample [class^='flaticon-']:before,
#flaticonExample [class*=' flaticon-']:before,
#flaticonExample [class^='flaticon-']:after,
#flaticonExample [class*=' flaticon-']:after {
  font-family: Flaticon;
  font-size: 30px;
  font-style: normal;
  margin-left: 20px;
  color: #333;
}

#flaticonExample .wrapper {
  max-width: 600px;
  margin: auto;
  padding: 0 1em;
}

#flaticonExample .title {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#flaticonExample header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 1em;
}

#flaticonExample header .logo {
  width: 210px;
  height: 38px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1em;
  border: none;
}

#flaticonExample header strong {
  font-size: 1.95em;
  font-weight: bold;
  vertical-align: middle;
  margin-top: 5px;
  display: inline-block;
}

#flaticonExample .demo {
  margin: 2em auto;
  line-height: 1.25em;
}

#flaticonExample .demo ul li {
  margin-bottom: 1em;
}

#flaticonExample .demo ul li .num {
  color: #222;
  border-radius: 20px;
  display: inline-block;
  width: 26px;
  padding: 3px;
  height: 26px;
  text-align: center;
  margin-right: 0.5em;
  border: 1px solid #222;
}

#flaticonExample .demo ul li code {
  background-color: #222;
  border-radius: 4px;
  padding: 0.25em 0.5em;
  display: inline-block;
  color: #fff;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  font-weight: lighter;
  margin-top: 1em;
  font-size: 0.8em;
  word-break: break-all;
}

#flaticonExample .demo ul li code.big {
  padding: 1em;
  font-size: 0.9em;
}

#flaticonExample .demo ul li code .red {
  color: #ef3159;
}

#flaticonExample .demo ul li code .green {
  color: #acff65;
}

#flaticonExample .demo ul li code .yellow {
  color: #ffff99;
}

#flaticonExample .demo ul li code .blue {
  color: #99d3ff;
}

#flaticonExample .demo ul li code .purple {
  color: #a295ff;
}

#flaticonExample .demo ul li code .dots {
  margin-top: 0.5em;
  display: block;
}

#flaticonExample #glyphs {
  border-bottom: 1px solid #ccc;
  padding: 2em 0;
  text-align: center;
}

#flaticonExample .glyph {
  display: inline-block;
  width: 9em;
  margin: 1em;
  text-align: center;
  vertical-align: top;
  background: #fff;
}

#flaticonExample .glyph .glyph-icon {
  padding: 10px;
  display: block;
  font-family: 'Flaticon';
  font-size: 64px;
  line-height: 1;
}

#flaticonExample .glyph .glyph-icon:before {
  font-size: 64px;
  color: #222;
  margin-left: 0;
}

#flaticonExample .class-name {
  font-size: 0.65em;
  background-color: #222;
  color: #fff;
  border-radius: 4px 4px 0 0;
  padding: 0.5em;
  color: #ffff99;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

#flaticonExample .author-name {
  font-size: 0.6em;
  background-color: #fcfcfd;
  border: 1px solid #dedee4;
  border-top: 0;
  border-radius: 0 0 4px 4px;
  padding: 0.5em;
}

#flaticonExample .class-name:last-child {
  font-size: 10px;
  color: #888;
}

#flaticonExample .class-name:last-child a {
  font-size: 10px;
  color: #555;
}

#flaticonExample .class-name:last-child a:hover {
  color: #a9fd00;
}

#flaticonExample .glyph > input {
  display: block;
  width: 100px;
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
  cursor: text;
}

#flaticonExample .glyph > input.icon-input {
  font-family: 'Flaticon';
  font-size: 16px;
  margin-bottom: 10px;
}

#flaticonExample .attribution .title {
  margin-top: 2em;
}

#flaticonExample .attribution textarea {
  background-color: #fcfcfd;
  padding: 1em;
  border: none;
  box-shadow: none;
  border: 1px solid #dedee4;
  border-radius: 4px;
  resize: none;
  width: 100%;
  height: 150px;
  font-size: 0.8em;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  -webkit-appearance: none;
}

#flaticonExample .iconsuse {
  margin: 2em auto;
  text-align: center;
  max-width: 1200px;
}

#flaticonExample .iconsuse:after {
  content: '';
  display: table;
  clear: both;
}

#flaticonExample .iconsuse .image {
  float: left;
  width: 25%;
  padding: 0 1em;
}

#flaticonExample .iconsuse .image p {
  margin-bottom: 1em;
}

#flaticonExample .iconsuse .image span {
  display: block;
  font-size: 0.65em;
  background-color: #222;
  color: #fff;
  border-radius: 4px;
  padding: 0.5em;
  color: #ffff99;
  margin-top: 1em;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono,
    DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

#flaticonExample #footer {
  text-align: center;
  background-color: #4c5b5c;
  color: #7c9192;
  padding: 1em;
}

#flaticonExample #footer a {
  border: none;
  color: #a9fd00;
  font-weight: normal;
}

@media (max-width: 960px) {
  #flaticonExample .iconsuse .image {
    width: 50%;
  }
}

@media (max-width: 560px) {
  #flaticonExample .iconsuse .image {
    width: 100%;
  }
}

.rc-tabs {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.rc-tabs-bar,
.rc-tabs-nav-container {
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  outline: none;
  zoom: 1;
  transition: padding .45s;
}
.rc-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  margin-top: -3px;
  background-color: #108ee9;
  transform-origin: 0 0;
  width: 0;
  height: 0;
}
.rc-tabs-ink-bar-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1), top 0.3s cubic-bezier(0.35, 0, 0.25, 1), height 0.3s cubic-bezier(0.35, 0, 0.25, 1), width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-tab-prev,
.rc-tabs-tab-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  line-height: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}
.rc-tabs-tab-prev-icon,
.rc-tabs-tab-next-icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-smoothing: antialiased;
  text-stroke-width: 0;
  font-family: sans-serif;
}
.rc-tabs-tab-prev-icon:before,
.rc-tabs-tab-next-icon:before {
  display: block;
}
.rc-tabs-tab-btn-disabled {
  cursor: default;
  color: #ccc;
}
.rc-tabs-nav-wrap {
  overflow: hidden;
}
.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  float: left;
  list-style: none;
  display: inline-block;
  transform-origin: 0 0;
}
.rc-tabs-nav-animated {
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-nav:before,
.rc-tabs-nav:after {
  display: table;
  content: " ";
}
.rc-tabs-nav:after {
  clear: both;
}
.rc-tabs-tab {
  box-sizing: border-box;
  position: relative;
  display: block;
  transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 8px 20px;
  font-weight: 500;
  cursor: pointer;
}
.rc-tabs-tab:hover {
  color: #23c0fa;
}
.rc-tabs-tab-active,
.rc-tabs-tab-active:hover {
  color: #108ee9;
  cursor: default;
  transform: translateZ(0);
}
.rc-tabs-tab-disabled {
  cursor: default;
  color: #ccc;
}
.rc-tabs-tab-disabled:hover {
  color: #ccc;
}
.rc-tabs-content {
  zoom: 1;
}
.rc-tabs-content .rc-tabs-tabpane {
  overflow: auto;
}
.rc-tabs-content-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
}
.rc-tabs-content-animated .rc-tabs-tabpane {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.no-flexbox .rc-tabs-content {
  transform: none !important;
  overflow: auto;
}
.no-csstransitions .rc-tabs-tabpane-inactive,
.no-flexbox .rc-tabs-tabpane-inactive,
.rc-tabs-content-no-animated .rc-tabs-tabpane-inactive {
  display: none;
}
.rc-tabs-left {
  border-right: 2px solid #f3f3f3;
}
.rc-tabs-left .rc-tabs-bar {
  float: left;
  height: 100%;
  margin-right: 10px;
  border-right: 1px solid #f3f3f3;
}
.rc-tabs-left .rc-tabs-nav-container {
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-container-scrolling {
  padding-top: 32px;
  padding-bottom: 32px;
}
.rc-tabs-left .rc-tabs-nav-wrap {
  height: 100%;
}
.rc-tabs-left .rc-tabs-content-animated {
  -ms-flex-direction: column;
      flex-direction: column;
}
.rc-tabs-left .rc-tabs-content-animated .rc-tabs-tabpane {
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-scroll {
  height: 99999px;
}
.rc-tabs-left .rc-tabs-nav-swipe {
  position: relative;
  top: 0;
}
.rc-tabs-left .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-left .rc-tabs-tab-prev,
.rc-tabs-left .rc-tabs-tab-next {
  margin-top: -2px;
  height: 0;
  line-height: 32px;
  width: 0;
  display: block;
  text-align: center;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show,
.rc-tabs-left .rc-tabs-tab-arrow-show,
.rc-tabs-bottom .rc-tabs-tab-arrow-show,
.rc-tabs-right .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 100%;
  height: 32px;
}
.rc-tabs-left .rc-tabs-tab-next {
  bottom: 0;
}
.rc-tabs-left .rc-tabs-tab-next-icon {
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rc-tabs-left .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-left .rc-tabs-tab-prev {
  top: 2px;
}
.rc-tabs-left .rc-tabs-tab-prev-icon {
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rc-tabs-left .rc-tabs-tab-prev-icon:before {
  content: ">";
}
.rc-tabs-left .rc-tabs-ink-bar {
  width: 2px;
  right: 0;
  top: 0;
}
.rc-tabs-left .rc-tabs-tab {
  padding: 16px 24px;
}
.rc-tabs-right {
  border-left: 2px solid #f3f3f3;
}
.rc-tabs-right .rc-tabs-bar {
  float: right;
  height: 100%;
  margin-left: 10px;
  border-left: 1px solid #f3f3f3;
}
.rc-tabs-right .rc-tabs-nav-container {
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-container-scrolling {
  padding-top: 32px;
  padding-bottom: 32px;
}
.rc-tabs-right .rc-tabs-nav-wrap {
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-scroll {
  height: 99999px;
}
.rc-tabs-right .rc-tabs-nav-swipe {
  position: relative;
}
.rc-tabs-right .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-right .rc-tabs-tab-prev,
.rc-tabs-right .rc-tabs-tab-next {
  margin-top: -2px;
  height: 0;
  width: 0;
  display: block;
  text-align: center;
  line-height: 32px;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 100%;
  height: 32px;
}
.rc-tabs-right .rc-tabs-tab-next {
  bottom: 0;
}
.rc-tabs-right .rc-tabs-tab-next-icon {
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rc-tabs-right .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-right .rc-tabs-tab-prev {
  top: 2px;
}
.rc-tabs-right .rc-tabs-tab-prev-icon {
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rc-tabs-right .rc-tabs-tab-prev-icon:before {
  content: ">";
}
.rc-tabs-right .rc-tabs-content-animated {
  -ms-flex-direction: column;
      flex-direction: column;
}
.rc-tabs-right .rc-tabs-content-animated .rc-tabs-tabpane {
  height: 100%;
}
.rc-tabs-right .rc-tabs-ink-bar {
  width: 2px;
  left: 0;
  top: 0;
}
.rc-tabs-right .rc-tabs-tab {
  padding: 16px 24px;
}
.rc-tabs-bottom {
  border-top: 2px solid #f3f3f3;
}
.rc-tabs-bottom .rc-tabs-content {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-bar {
  border-top: 1px solid #f3f3f3;
}
.rc-tabs-bottom .rc-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.rc-tabs-bottom .rc-tabs-nav-scroll {
  width: 99999px;
}
.rc-tabs-bottom .rc-tabs-nav-swipe {
  position: relative;
  left: 0;
}
.rc-tabs-bottom .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
  padding: 8px 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-bottom .rc-tabs-nav-wrap {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-content-animated {
  -ms-flex-direction: row;
      flex-direction: row;
}
.rc-tabs-bottom .rc-tabs-content-animated .rc-tabs-tabpane {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-tab-next {
  right: 2px;
}
.rc-tabs-bottom .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-bottom .rc-tabs-tab-prev {
  left: 0;
}
.rc-tabs-bottom .rc-tabs-tab-prev-icon:before {
  content: "<";
}
.rc-tabs-bottom .rc-tabs-tab-prev,
.rc-tabs-bottom .rc-tabs-tab-next {
  margin-right: -2px;
  width: 32px;
  height: 100%;
  top: 0;
  text-align: center;
}
.rc-tabs-bottom .rc-tabs-ink-bar {
  height: 2px;
  top: 3px;
  left: 0;
}
.rc-tabs-bottom .rc-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 30px;
}
.rc-tabs-bottom .rc-tabs-tabpane-inactive {
  height: 0;
  overflow: visible;
}
.rc-tabs-top {
  border-bottom: 2px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-content {
  width: 100%;
}
.rc-tabs-top .rc-tabs-bar {
  border-bottom: 1px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.rc-tabs-top .rc-tabs-nav-scroll {
  width: 99999px;
}
.rc-tabs-top .rc-tabs-nav-swipe {
  position: relative;
  left: 0;
}
.rc-tabs-top .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
}
.rc-tabs-top .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
  padding: 8px 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-top .rc-tabs-nav-wrap {
  width: 100%;
}
.rc-tabs-top .rc-tabs-content-animated {
  -ms-flex-direction: row;
      flex-direction: row;
}
.rc-tabs-top .rc-tabs-content-animated .rc-tabs-tabpane {
  width: 100%;
}
.rc-tabs-top .rc-tabs-tab-next {
  right: 2px;
}
.rc-tabs-top .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-top .rc-tabs-tab-prev {
  left: 0;
}
.rc-tabs-top .rc-tabs-tab-prev-icon:before {
  content: "<";
}
.rc-tabs-top .rc-tabs-tab-prev,
.rc-tabs-top .rc-tabs-tab-next {
  margin-right: -2px;
  width: 0;
  height: 0;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 32px;
  height: 100%;
}
.rc-tabs-top .rc-tabs-ink-bar {
  height: 2px;
  bottom: 0;
  left: 0;
}
.rc-tabs-top .rc-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 30px;
}
.rc-tabs-top .rc-tabs-tabpane-inactive {
  height: 0;
  overflow: visible;
}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.u-position-absolute {
    position: absolute;
}

.u-position-relative {
    position: relative;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
    position: relative;
}

.accordion__title {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__title:hover {
    background-color: #ddd;
}

.accordion__body {
    padding: 20px;
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
    margin-bottom: 0;
}

.accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion__title--animated:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
}

@charset "UTF-8";
/*!
  Ionicons, v2.0.0
  Created by Ben Sperry for the Ionic Framework, http://ionicons.com/
  https://twitter.com/benjsperry  https://twitter.com/ionicframework
  MIT License: https://github.com/driftyco/ionicons

  Android-style icons originally built by Google’s
  Material Design Icons: https://github.com/google/material-design-icons
  used under CC BY http://creativecommons.org/licenses/by/4.0/
  Modified icons to fit ionicon’s grid from original.
*/
@font-face {
  font-family: "Ionicons";
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0");
  src: url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.ttf?v=2.0.0") format("truetype"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.woff?v=2.0.0") format("woff"), url("https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.image-gallery-fullscreen-button::before,
.image-gallery-play-button::before,
.image-gallery-left-nav::before,
.image-gallery-right-nav::before {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.image-gallery {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }
  .image-gallery.fullscreen-modal {
    background: #000;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5; }
    .image-gallery.fullscreen-modal .image-gallery-content {
      top: 50%;
      transform: translateY(-50%); }

.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0; }
  .image-gallery-content.fullscreen {
    background: #000; }
    .image-gallery-content.fullscreen .image-gallery-slide {
      background: #000; }

.image-gallery-slide-wrapper {
  position: relative; }
  .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
    display: inline-block;
    width: calc(100% - 113px); }
    @media (max-width: 768px) {
      .image-gallery-slide-wrapper.left, .image-gallery-slide-wrapper.right {
        width: calc(100% - 84px); } }
  .image-gallery-slide-wrapper.image-gallery-rtl {
    direction: rtl; }

.image-gallery-fullscreen-button,
.image-gallery-play-button,
.image-gallery-left-nav,
.image-gallery-right-nav {
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before,
  .image-gallery-left-nav::before,
  .image-gallery-right-nav::before {
    color: #fff;
    line-height: .7;
    text-shadow: 0 2px 2px #1a1a1a;
    transition: color .2s ease-out; }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before,
  .image-gallery-left-nav:hover::before,
  .image-gallery-right-nav:hover::before {
    color: #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before,
      .image-gallery-left-nav:hover::before,
      .image-gallery-right-nav:hover::before {
        color: #fff; } }

.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0; }
  .image-gallery-fullscreen-button::before,
  .image-gallery-play-button::before {
    font-size: 2.7em;
    padding: 15px 20px;
    text-shadow: 0 1px 1px #1a1a1a; }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 2.4em; } }
    @media (max-width: 480px) {
      .image-gallery-fullscreen-button::before,
      .image-gallery-play-button::before {
        font-size: 2em; } }
  .image-gallery-fullscreen-button:hover::before,
  .image-gallery-play-button:hover::before {
    color: #fff;
    transform: scale(1.1); }
    @media (max-width: 768px) {
      .image-gallery-fullscreen-button:hover::before,
      .image-gallery-play-button:hover::before {
        transform: none; } }

.image-gallery-fullscreen-button {
  right: 0; }
  .image-gallery-fullscreen-button::before {
    content: "\F386"; }
  .image-gallery-fullscreen-button.active::before {
    content: "\F37D"; }
  .image-gallery-fullscreen-button.active:hover::before {
    transform: scale(0.9); }

.image-gallery-play-button {
  left: 0; }
  .image-gallery-play-button::before {
    content: "\F488"; }
  .image-gallery-play-button.active::before {
    content: "\F478"; }

.image-gallery-left-nav,
.image-gallery-right-nav {
  color: #fff;
  font-size: 5em;
  padding: 50px 15px;
  top: 50%;
  transform: translateY(-50%); }
  .image-gallery-left-nav[disabled],
  .image-gallery-right-nav[disabled] {
    cursor: disabled;
    opacity: .6;
    pointer-events: none; }
  @media (max-width: 768px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 3.4em;
      padding: 20px 15px; } }
  @media (max-width: 480px) {
    .image-gallery-left-nav,
    .image-gallery-right-nav {
      font-size: 2.4em;
      padding: 0 15px; } }

.image-gallery-left-nav {
  left: 0; }
  .image-gallery-left-nav::before {
    content: "\F3D2"; }

.image-gallery-right-nav {
  right: 0; }
  .image-gallery-right-nav::before {
    content: "\F3D3"; }

.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap; }

.image-gallery-slide {
  background: #fff;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  .image-gallery-slide.center {
    position: relative; }
  .image-gallery-slide img {
    width: 100%; }
  .image-gallery-slide .image-gallery-description {
    background: rgba(0, 0, 0, 0.4);
    bottom: 70px;
    color: #fff;
    left: 0;
    line-height: 1;
    padding: 10px 20px;
    position: absolute;
    white-space: normal; }
    @media (max-width: 768px) {
      .image-gallery-slide .image-gallery-description {
        bottom: 45px;
        font-size: .8em;
        padding: 8px 15px; } }

.image-gallery-bullets {
  bottom: 20px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4; }
  .image-gallery-bullets .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center; }
  .image-gallery-bullets .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    box-shadow: 0 1px 0 #1a1a1a;
    cursor: pointer;
    display: inline-block;
    margin: 0 5px;
    outline: none;
    padding: 5px; }
    @media (max-width: 768px) {
      .image-gallery-bullets .image-gallery-bullet {
        margin: 0 3px;
        padding: 3px; } }
    @media (max-width: 480px) {
      .image-gallery-bullets .image-gallery-bullet {
        padding: 2.7px; } }
    .image-gallery-bullets .image-gallery-bullet.active {
      background: #fff; }

.image-gallery-thumbnails-wrapper {
  position: relative; }
  .image-gallery-thumbnails-wrapper.thumbnails-wrapper-rtl {
    direction: rtl; }
  .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
    display: inline-block;
    vertical-align: top;
    width: 108px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left, .image-gallery-thumbnails-wrapper.right {
        width: 81px; } }
    .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails {
      height: 100%;
      width: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0; }
      .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0; }
        .image-gallery-thumbnails-wrapper.left .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail, .image-gallery-thumbnails-wrapper.right .image-gallery-thumbnails .image-gallery-thumbnail + .image-gallery-thumbnail {
          margin-left: 0; }
  .image-gallery-thumbnails-wrapper.left {
    margin-right: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.left {
        margin-right: 3px; } }
  .image-gallery-thumbnails-wrapper.right {
    margin-left: 5px; }
    @media (max-width: 768px) {
      .image-gallery-thumbnails-wrapper.right {
        margin-left: 3px; } }

.image-gallery-thumbnails {
  overflow: hidden;
  padding: 5px 0; }
  @media (max-width: 768px) {
    .image-gallery-thumbnails {
      padding: 3px 0; } }
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    transition: transform .45s ease-out;
    white-space: nowrap; }

.image-gallery-thumbnail {
  display: inline-block;
  border: 4px solid transparent;
  transition: border .3s ease-out;
  width: 100px; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail {
      border: 3px solid transparent;
      width: 75px; } }
  .image-gallery-thumbnail + .image-gallery-thumbnail {
    margin-left: 2px; }
  .image-gallery-thumbnail .image-gallery-thumbnail-inner {
    position: relative; }
  .image-gallery-thumbnail img {
    vertical-align: middle;
    width: 100%; }
  .image-gallery-thumbnail.active {
    border: 4px solid #337ab7; }
    @media (max-width: 768px) {
      .image-gallery-thumbnail.active {
        border: 3px solid #337ab7; } }

.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: 1em;
  left: 0;
  line-height: 1em;
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: 1px 1px 0 black;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%; }
  @media (max-width: 768px) {
    .image-gallery-thumbnail-label {
      font-size: .8em;
      line-height: .8em; } }

.image-gallery-index {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  line-height: 1;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4; }
  @media (max-width: 768px) {
    .image-gallery-index {
      font-size: .8em;
      padding: 5px 10px; } }

