.reuseModalOverlay {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  position: fixed;
}

.reuseModalHolder {
  width: 100%;
  height: 100%;
  display: flex;
  border: solid 1px #ddd;
  background: #f0f0f0;
  position: fixed !important;
  z-index: 99999;
  padding: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.innerRndComponent {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: content-box;
}

.reuseModalCloseBtn {
  position: fixed;
  top: 10px;
  right: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 300;
  color: #ffffff;
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  z-index: 9999999;
}

/*
  	Flaticon icon font: Flaticon
  	Creation date: 10/02/2019 12:14
  	*/

@font-face {
  font-family: 'Flaticon';
  src: url(/_next/static/fonts/Flaticon-27a2580c09922a0beea7196d54e1fe0e.eot);
  src: url(/_next/static/fonts/Flaticon-27a2580c09922a0beea7196d54e1fe0e.eot?#iefix) format('embedded-opentype'),
    url(/_next/static/fonts/Flaticon-bd6d1d55050dbd3a98a61eaf6e908559.woff2) format('woff2'),
    url(/_next/static/fonts/Flaticon-2370efcdc4fa02a123a3ca8702214b08.woff) format('woff'),
    url(/_next/static/fonts/Flaticon-41b47e36c8243f12f6abf7497126ae40.ttf) format('truetype'),
    url(/_next/static/images/Flaticon-4e84d4710ba2b48798ab2026e966d828.svg#Flaticon) format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url(/_next/static/images/Flaticon-4e84d4710ba2b48798ab2026e966d828.svg#Flaticon) format('svg');
  }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-flask:before {
  content: '\F100';
}
.flaticon-pencil-case:before {
  content: '\F101';
}
.flaticon-ruler:before {
  content: '\F102';
}
.flaticon-startup:before {
  content: '\F103';
}
.flaticon-creative:before {
  content: '\F104';
}
.flaticon-briefing:before {
  content: '\F105';
}
.flaticon-magnifying-glass:before {
  content: '\F106';
}
.flaticon-user:before {
  content: '\F107';
}
.flaticon-quotes:before {
  content: '\F108';
}
.flaticon-next:before {
  content: '\F109';
}
.flaticon-left-arrow:before {
  content: '\F10A';
}
.flaticon-plus-symbol:before {
  content: '\F10B';
}
.flaticon-minus-symbol:before {
  content: '\F10C';
}
.flaticon-trophy:before {
  content: '\F10D';
}
.flaticon-conversation:before {
  content: '\F10E';
}
.flaticon-atom:before {
  content: '\F10F';
}
.flaticon-link:before {
  content: '\F110';
}
.flaticon-battery:before {
  content: '\F111';
}
.flaticon-stopwatch:before {
  content: '\F112';
}
.flaticon-stopwatch-1:before {
  content: '\F113';
}
.flaticon-objective:before {
  content: '\F114';
}
.flaticon-facebook-logo:before {
  content: '\F115';
}
.flaticon-twitter-logo-silhouette:before {
  content: '\F116';
}
.flaticon-instagram:before {
  content: '\F117';
}
.flaticon-dribble-logo:before {
  content: '\F118';
}
.flaticon-tumblr-logo:before {
  content: '\F119';
}
.flaticon-youtube:before {
  content: '\F11A';
}
.flaticon-google-plus:before {
  content: '\F11B';
}
.flaticon-blockchain:before {
  content: '\F11C';
}
.flaticon-money-bag:before {
  content: '\F11D';
}
.flaticon-wallet:before {
  content: '\F11E';
}
.flaticon-security:before {
  content: '\F11F';
}
.flaticon-bitcoin:before {
  content: '\F120';
}
.flaticon-blockchain-1:before {
  content: '\F121';
}
.flaticon-annonymous:before {
  content: '\F122';
}
.flaticon-group:before {
  content: '\F123';
}
.flaticon-prototype:before {
  content: '\F124';
}
.flaticon-code:before {
  content: '\F125';
}
.flaticon-vectors:before {
  content: '\F126';
}
.flaticon-export:before {
  content: '\F127';
}
.flaticon-hourglass:before {
  content: '\F128';
}
.flaticon-trophy-1:before {
  content: '\F129';
}
.flaticon-upload:before {
  content: '\F12A';
}
.flaticon-settings:before {
  content: '\F12B';
}
.flaticon-strategy:before {
  content: '\F12C';
}

.drawer {
  position: fixed;
  top: 0;
  z-index: 9999;
}
.drawer > * {
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), box-shaow 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer .drawer-mask {
  background: #000;
  opacity: 0;
  width: 0;
  height: 0;
  position: fixed;
  top: 0;
  transition: opacity 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86), width 0s ease 0.3s, height 0s ease 0.3s;
}
.drawer-content-wrapper {
  position: fixed;
  background: #fff;
}
.drawer-content {
  overflow: auto;
  z-index: 1;
  position: relative;
}
.drawer-handle {
  position: absolute;
  top: 72px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
}
.drawer-handle-icon {
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before,
.drawer-handle-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before {
  top: -5px;
}
.drawer-handle-icon:after {
  top: 5px;
}
.drawer-left,
.drawer-right {
  width: 0%;
  height: 100%;
}
.drawer-left .drawer-content-wrapper,
.drawer-right .drawer-content-wrapper,
.drawer-left .drawer-content,
.drawer-right .drawer-content {
  height: 100%;
}
.drawer-left.drawer-open,
.drawer-right.drawer-open {
  width: 100%;
}
.drawer-left .drawer-handle {
  right: -40px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 4px 4px 0;
}
.drawer-left.drawer-open .drawer-content-wrapper {
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-right .drawer-content-wrapper {
  right: 0;
}
.drawer-right .drawer-handle {
  left: -40px;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 0 0 4px;
}
.drawer-right.drawer-open .drawer-content-wrapper {
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.15);
}
.drawer-top,
.drawer-bottom {
  width: 100%;
  height: 0%;
}
.drawer-top .drawer-content-wrapper,
.drawer-bottom .drawer-content-wrapper,
.drawer-top .drawer-content,
.drawer-bottom .drawer-content {
  width: 100%;
}
.drawer-top .drawer-handle,
.drawer-bottom .drawer-handle {
  left: 50%;
  margin-left: -20px;
}
.drawer-top.drawer-open,
.drawer-bottom.drawer-open {
  height: 100%;
}
.drawer-top .drawer-handle {
  top: auto;
  bottom: -40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 4px 4px;
}
.drawer-top.drawer-open .drawer-wrapper {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.drawer-bottom .drawer-content-wrapper {
  bottom: 0;
}
.drawer-bottom .drawer-handle {
  top: -40px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 0 0;
}
.drawer-bottom.drawer-open .drawer-content-wrapper {
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.15);
}
.drawer.drawer-open .drawer-mask {
  opacity: .3;
  width: 100%;
  height: 100%;
  animation: rcDrawerFadeIn 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: none;
}
.drawer.drawer-open .drawer-handle-icon {
  background: transparent;
}
.drawer.drawer-open .drawer-handle-icon:before {
  transform: translateY(5px) rotate(45deg);
}
.drawer.drawer-open .drawer-handle-icon:after {
  transform: translateY(-5px) rotate(-45deg);
}
@keyframes rcDrawerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}

.rc-tabs {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.rc-tabs-bar,
.rc-tabs-nav-container {
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  outline: none;
  zoom: 1;
  transition: padding .45s;
}
.rc-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  margin-top: -3px;
  background-color: #108ee9;
  transform-origin: 0 0;
  width: 0;
  height: 0;
}
.rc-tabs-ink-bar-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1), top 0.3s cubic-bezier(0.35, 0, 0.25, 1), height 0.3s cubic-bezier(0.35, 0, 0.25, 1), width 0.3s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-tab-prev,
.rc-tabs-tab-next {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  line-height: 36px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}
.rc-tabs-tab-prev-icon,
.rc-tabs-tab-next-icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: inherit;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  font-smoothing: antialiased;
  text-stroke-width: 0;
  font-family: sans-serif;
}
.rc-tabs-tab-prev-icon:before,
.rc-tabs-tab-next-icon:before {
  display: block;
}
.rc-tabs-tab-btn-disabled {
  cursor: default;
  color: #ccc;
}
.rc-tabs-nav-wrap {
  overflow: hidden;
}
.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  float: left;
  list-style: none;
  display: inline-block;
  transform-origin: 0 0;
}
.rc-tabs-nav-animated {
  transition: transform 0.5s cubic-bezier(0.35, 0, 0.25, 1);
}
.rc-tabs-nav:before,
.rc-tabs-nav:after {
  display: table;
  content: " ";
}
.rc-tabs-nav:after {
  clear: both;
}
.rc-tabs-tab {
  box-sizing: border-box;
  position: relative;
  display: block;
  transition: color 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  padding: 8px 20px;
  font-weight: 500;
  cursor: pointer;
}
.rc-tabs-tab:hover {
  color: #23c0fa;
}
.rc-tabs-tab-active,
.rc-tabs-tab-active:hover {
  color: #108ee9;
  cursor: default;
  transform: translateZ(0);
}
.rc-tabs-tab-disabled {
  cursor: default;
  color: #ccc;
}
.rc-tabs-tab-disabled:hover {
  color: #ccc;
}
.rc-tabs-content {
  zoom: 1;
}
.rc-tabs-content .rc-tabs-tabpane {
  overflow: auto;
}
.rc-tabs-content-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-left 0.3s cubic-bezier(0.35, 0, 0.25, 1), margin-top 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  display: -ms-flexbox;
  display: flex;
  will-change: transform;
}
.rc-tabs-content-animated .rc-tabs-tabpane {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.no-flexbox .rc-tabs-content {
  transform: none !important;
  overflow: auto;
}
.no-csstransitions .rc-tabs-tabpane-inactive,
.no-flexbox .rc-tabs-tabpane-inactive,
.rc-tabs-content-no-animated .rc-tabs-tabpane-inactive {
  display: none;
}
.rc-tabs-left {
  border-right: 2px solid #f3f3f3;
}
.rc-tabs-left .rc-tabs-bar {
  float: left;
  height: 100%;
  margin-right: 10px;
  border-right: 1px solid #f3f3f3;
}
.rc-tabs-left .rc-tabs-nav-container {
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-container-scrolling {
  padding-top: 32px;
  padding-bottom: 32px;
}
.rc-tabs-left .rc-tabs-nav-wrap {
  height: 100%;
}
.rc-tabs-left .rc-tabs-content-animated {
  -ms-flex-direction: column;
      flex-direction: column;
}
.rc-tabs-left .rc-tabs-content-animated .rc-tabs-tabpane {
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-scroll {
  height: 99999px;
}
.rc-tabs-left .rc-tabs-nav-swipe {
  position: relative;
  top: 0;
}
.rc-tabs-left .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.rc-tabs-left .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-left .rc-tabs-tab-prev,
.rc-tabs-left .rc-tabs-tab-next {
  margin-top: -2px;
  height: 0;
  line-height: 32px;
  width: 0;
  display: block;
  text-align: center;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show,
.rc-tabs-left .rc-tabs-tab-arrow-show,
.rc-tabs-bottom .rc-tabs-tab-arrow-show,
.rc-tabs-right .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 100%;
  height: 32px;
}
.rc-tabs-left .rc-tabs-tab-next {
  bottom: 0;
}
.rc-tabs-left .rc-tabs-tab-next-icon {
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rc-tabs-left .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-left .rc-tabs-tab-prev {
  top: 2px;
}
.rc-tabs-left .rc-tabs-tab-prev-icon {
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rc-tabs-left .rc-tabs-tab-prev-icon:before {
  content: ">";
}
.rc-tabs-left .rc-tabs-ink-bar {
  width: 2px;
  right: 0;
  top: 0;
}
.rc-tabs-left .rc-tabs-tab {
  padding: 16px 24px;
}
.rc-tabs-right {
  border-left: 2px solid #f3f3f3;
}
.rc-tabs-right .rc-tabs-bar {
  float: right;
  height: 100%;
  margin-left: 10px;
  border-left: 1px solid #f3f3f3;
}
.rc-tabs-right .rc-tabs-nav-container {
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-container-scrolling {
  padding-top: 32px;
  padding-bottom: 32px;
}
.rc-tabs-right .rc-tabs-nav-wrap {
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-scroll {
  height: 99999px;
}
.rc-tabs-right .rc-tabs-nav-swipe {
  position: relative;
}
.rc-tabs-right .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
}
.rc-tabs-right .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-right .rc-tabs-tab-prev,
.rc-tabs-right .rc-tabs-tab-next {
  margin-top: -2px;
  height: 0;
  width: 0;
  display: block;
  text-align: center;
  line-height: 32px;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 100%;
  height: 32px;
}
.rc-tabs-right .rc-tabs-tab-next {
  bottom: 0;
}
.rc-tabs-right .rc-tabs-tab-next-icon {
  transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.rc-tabs-right .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-right .rc-tabs-tab-prev {
  top: 2px;
}
.rc-tabs-right .rc-tabs-tab-prev-icon {
  transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.rc-tabs-right .rc-tabs-tab-prev-icon:before {
  content: ">";
}
.rc-tabs-right .rc-tabs-content-animated {
  -ms-flex-direction: column;
      flex-direction: column;
}
.rc-tabs-right .rc-tabs-content-animated .rc-tabs-tabpane {
  height: 100%;
}
.rc-tabs-right .rc-tabs-ink-bar {
  width: 2px;
  left: 0;
  top: 0;
}
.rc-tabs-right .rc-tabs-tab {
  padding: 16px 24px;
}
.rc-tabs-bottom {
  border-top: 2px solid #f3f3f3;
}
.rc-tabs-bottom .rc-tabs-content {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-bar {
  border-top: 1px solid #f3f3f3;
}
.rc-tabs-bottom .rc-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.rc-tabs-bottom .rc-tabs-nav-scroll {
  width: 99999px;
}
.rc-tabs-bottom .rc-tabs-nav-swipe {
  position: relative;
  left: 0;
}
.rc-tabs-bottom .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
  padding: 8px 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-bottom .rc-tabs-nav-wrap {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-content-animated {
  -ms-flex-direction: row;
      flex-direction: row;
}
.rc-tabs-bottom .rc-tabs-content-animated .rc-tabs-tabpane {
  width: 100%;
}
.rc-tabs-bottom .rc-tabs-tab-next {
  right: 2px;
}
.rc-tabs-bottom .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-bottom .rc-tabs-tab-prev {
  left: 0;
}
.rc-tabs-bottom .rc-tabs-tab-prev-icon:before {
  content: "<";
}
.rc-tabs-bottom .rc-tabs-tab-prev,
.rc-tabs-bottom .rc-tabs-tab-next {
  margin-right: -2px;
  width: 32px;
  height: 100%;
  top: 0;
  text-align: center;
}
.rc-tabs-bottom .rc-tabs-ink-bar {
  height: 2px;
  top: 3px;
  left: 0;
}
.rc-tabs-bottom .rc-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 30px;
}
.rc-tabs-bottom .rc-tabs-tabpane-inactive {
  height: 0;
  overflow: visible;
}
.rc-tabs-top {
  border-bottom: 2px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-content {
  width: 100%;
}
.rc-tabs-top .rc-tabs-bar {
  border-bottom: 1px solid #f3f3f3;
}
.rc-tabs-top .rc-tabs-nav-container-scrolling {
  padding-left: 32px;
  padding-right: 32px;
}
.rc-tabs-top .rc-tabs-nav-scroll {
  width: 99999px;
}
.rc-tabs-top .rc-tabs-nav-swipe {
  position: relative;
  left: 0;
}
.rc-tabs-top .rc-tabs-nav-swipe .rc-tabs-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
      flex: 1;
  width: 100%;
}
.rc-tabs-top .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0;
  padding: 8px 0;
  -ms-flex-pack: center;
      justify-content: center;
}
.rc-tabs-top .rc-tabs-nav-wrap {
  width: 100%;
}
.rc-tabs-top .rc-tabs-content-animated {
  -ms-flex-direction: row;
      flex-direction: row;
}
.rc-tabs-top .rc-tabs-content-animated .rc-tabs-tabpane {
  width: 100%;
}
.rc-tabs-top .rc-tabs-tab-next {
  right: 2px;
}
.rc-tabs-top .rc-tabs-tab-next-icon:before {
  content: ">";
}
.rc-tabs-top .rc-tabs-tab-prev {
  left: 0;
}
.rc-tabs-top .rc-tabs-tab-prev-icon:before {
  content: "<";
}
.rc-tabs-top .rc-tabs-tab-prev,
.rc-tabs-top .rc-tabs-tab-next {
  margin-right: -2px;
  width: 0;
  height: 0;
  top: 0;
  text-align: center;
  opacity: 0;
  transition: width .3s, height .3s, opacity .3s;
}
.rc-tabs-top .rc-tabs-tab-arrow-show {
  opacity: 1;
  width: 32px;
  height: 100%;
}
.rc-tabs-top .rc-tabs-ink-bar {
  height: 2px;
  bottom: 0;
  left: 0;
}
.rc-tabs-top .rc-tabs-tab {
  float: left;
  height: 100%;
  margin-right: 30px;
}
.rc-tabs-top .rc-tabs-tabpane-inactive {
  height: 0;
  overflow: visible;
}

.glide{position:relative;width:100%;box-sizing:border-box}.glide *{box-sizing:inherit}.glide__track{overflow:hidden}.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}.glide__slides--dragging{user-select:none}.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}.glide__arrows{-webkit-touch-callout:none;user-select:none}.glide__bullets{-webkit-touch-callout:none;user-select:none}.glide--rtl{direction:rtl}

/**
* ----------------------------------------------
* Demo styles
* ----------------------------------------------
**/
.u-position-absolute {
    position: absolute;
}

.u-position-relative {
    position: relative;
}

.accordion {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.accordion__item + .accordion__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.accordion__item--has-icon {
    position: relative;
}

.accordion__title {
    background-color: #f4f4f4;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

.accordion__title:hover {
    background-color: #ddd;
}

.accordion__body {
    padding: 20px;
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    opacity: 0;
    animation: fadein 0.35s ease-in;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
    margin-bottom: 0;
}

.accordion__arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    display: block;
    position: absolute;
    top: 50%;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    content: '';
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded='true'] .accordion__arrow::before, [aria-selected='true'] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded='true'] .accordion__arrow::after, [aria-selected='true'] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes move-down {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes move-up {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

.accordion__title--animated:hover .accordion__arrow {
    animation-name: move-down;
    animation-duration: 1.5s;
}

.accordion__title--animated[aria-expanded='true']:hover .accordion__arrow {
    animation-name: move-up;
    animation-duration: 1.5s;
}


/*# sourceMappingURL=styles.chunk.css.map*/